.mainProductos {
  padding: 20px 30px;
  min-height: 400px;
}
.mainProductos .divHeaderProductos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainProductos .divHeaderProductos h1 {
  font-size: 13.5pt;
}
.mainProductos .divHeaderProductos p {
  font-size: 12pt;
}
.mainProductos .divHeaderProductos select {
  outline: none;
  border: 1px gray solid;
  padding: 5px 10px;
  font-size: 12pt;
  border-radius: 3px;
}
.mainProductos .divHeaderProductos .selectOrdenar {
  margin-right: 20px;
}
.mainProductos .divProducts {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
}
.mainProductos .divProducts .articleProduct {
  border: 1px gray solid;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.mainProductos .divProducts .articleProduct .trimgproducto img {
  width: 235px;
  height: 200px;
}
.mainProductos .divProducts .articleProduct .detallesProduct h1 {
  padding-left: 10px;
}
.mainProductos .divProducts .articleProduct .detallesProduct p {
  padding-left: 10px;
  font-size: 13pt;
  margin-bottom: 10px;
}
.mainProductos .divProducts .articleProduct .detallesProduct a {
  font-size: 12pt;
  cursor: pointer;
  color: #7D7D7D;
  font-weight: 500;
  padding-left: 10px;
}
.mainProductos .divProducts .articleProduct .detallesProduct a:hover {
  color: #1c1c1c;
}
